body {
    margin-left: 30px;
    padding: 0;
    box-sizing: border-box;
    margin-right: 30px;
    margin-top: 20px;
}

.left-p {
    text-align: justify;
}

.nav-link:hover {
    background-color: green;
}

.main-container {
    display: flex;
    align-items: centre;
}

.nav-item {
    margin-left: 10px;
}